.icon-uni0B09:before { content: "\0b09"; }
.icon-lastresortphagspa:before { content: "\a877"; }
.icon-lastresortcompatibilityjamo:before { content: "\318e"; }
.icon-lastresortrunic:before { content: "\16f0"; }
.icon-uni094B:before { content: "\094b"; }
.icon-uni0ACD:before { content: "\0acd"; }
.icon-uni0903:before { content: "\0903"; }
.icon-uni0C03:before { content: "\0c03"; }
.icon-uni0B5C:before { content: "\0b5c"; }
.icon-uni09CE:before { content: "\09ce"; }
.icon-uni0AED:before { content: "\0aed"; }
.icon-uni0A73:before { content: "\0a73"; }
.icon-lastresortdingbats:before { content: "\27be"; }
.icon-uni0C19:before { content: "\0c19"; }
.icon-uni091A:before { content: "\091a"; }
.icon-uni090F:before { content: "\090f"; }
.icon-uni0C8E:before { content: "\0c8e"; }
.icon-uni0AA8:before { content: "\0aa8"; }
.icon-tibetan_12:before { content: "\0fca"; }
.icon-uni0AA7:before { content: "\0aa7"; }
.icon-uni0C9A:before { content: "\0c9a"; }
.icon-lastresortpunctuationsup:before { content: "\2e1d"; }
.icon-uni0AA0:before { content: "\0aa0"; }
.icon-uni0CCA:before { content: "\0cca"; }
.icon-uni0C9C:before { content: "\0c9c"; }
.icon-uni0A5E:before { content: "\0a5e"; }
.icon-lastresortcurrency:before { content: "\20b5"; }
.icon-uni09A8:before { content: "\09a8"; }
.icon-lastresortshavian:before { content: "\1047f"; }
.icon-uni0CC0:before { content: "\0cc0"; }
.icon-lastresortnumberforms:before { content: "\2184"; }
.icon-uni0932:before { content: "\0932"; }
.icon-lastresortnotdefplaneone:before { content: "\1fffd"; }
.icon-uni0919:before { content: "\0919"; }
.icon-uni0B39:before { content: "\0b39"; }
.icon-lastresortcjkcompatibility:before { content: "\33ff"; }
.icon-lastresortgreekextended:before { content: "\1ffe"; }
.icon-lastresortgreek:before { content: "\03ff"; }
.icon-uni09A3:before { content: "\09a3"; }
.icon-uni0B67:before { content: "\0b67"; }
.icon-uni0966:before { content: "\0966"; }
.icon-uni0CAF:before { content: "\0caf"; }
.icon-uni0A14:before { content: "\0a14"; }
.icon-uni0920:before { content: "\0920"; }
.icon-uni0922:before { content: "\0922"; }
.icon-lastresortprivateuse:before { content: "\f8ff"; }
.icon-uni0C37:before { content: "\0c37"; }
.icon-uni092C:before { content: "\092c"; }
.icon-uni0A98:before { content: "\0a98"; }
.icon-lastresortoldpersian:before { content: "\103d5"; }
.icon-uni0C6E:before { content: "\0c6e"; }
.icon-uni09E1:before { content: "\09e1"; }
.icon-uni0B2E:before { content: "\0b2e"; }
.icon-lastresorthangulsyllables:before { content: "\d7a3"; }
.icon-uni0C0A:before { content: "\0c0a"; }
.icon-tibetan_10:before { content: "\0fc8"; }
.icon-uni0AA4:before { content: "\0aa4"; }
.icon-uni0B33:before { content: "\0b33"; }
.icon-uni098C:before { content: "\098c"; }
.icon-lastresortolditalic:before { content: "\10323"; }
.icon-uni0B35:before { content: "\0b35"; }
.icon-uni0B24:before { content: "\0b24"; }
.icon-lastresortarrowssupplementb:before { content: "\297f"; }
.icon-uni0CC3:before { content: "\0cc3"; }
.icon-uni0A4B:before { content: "\0a4b"; }
.icon-uni0B70:before { content: "\0b70"; }
.icon-uni09AA:before { content: "\09aa"; }
.icon-lastresortbuhid:before { content: "\1753"; }
.icon-uni098B:before { content: "\098b"; }
.icon-uni09C7:before { content: "\09c7"; }
.icon-uni0B1D:before { content: "\0b1d"; }
.icon-uni0C2B:before { content: "\0c2b"; }
.icon-uni0C6C:before { content: "\0c6c"; }
.icon-uni0959:before { content: "\0959"; }
.icon-uni0A1F:before { content: "\0a1f"; }
.icon-uni0AC1:before { content: "\0ac1"; }
.icon-tibetan_31:before { content: "\0fb8"; }
.icon-lastresorthiragana:before { content: "\309f"; }
.icon-lastresortcuneiformnumbers:before { content: "\12473"; }
.icon-uni095B:before { content: "\095b"; }
.icon-uni0938:before { content: "\0938"; }
.icon-uni0A21:before { content: "\0a21"; }
.icon-lastresortcombininghalfforms:before { content: "\fe23"; }
.icon-uni0B57:before { content: "\0b57"; }
.icon-uni0970:before { content: "\0970"; }
.icon-tibetan_26:before { content: "\0fb3"; }
.icon-lastresortsmallforms:before { content: "\fe6b"; }
.icon-uni0B68:before { content: "\0b68"; }
.icon-uni0CE0:before { content: "\0ce0"; }
.icon-tibetan_3:before { content: "\0fc1"; }
.icon-uni0931:before { content: "\0931"; }
.icon-lastresortspecials:before { content: "\fffd"; }
.icon-lastresortsylotinagri:before { content: "\a82b"; }
.icon-uni0960:before { content: "\0960"; }
.icon-uni0952:before { content: "\0952"; }
.icon-uni0A82:before { content: "\0a82"; }
.icon-uni0C21:before { content: "\0c21"; }
.icon-uni0B14:before { content: "\0b14"; }
.icon-uni0A1A:before { content: "\0a1a"; }
.icon-uni0921:before { content: "\0921"; }
.icon-uni0C60:before { content: "\0c60"; }
.icon-uni09AD:before { content: "\09ad"; }
.icon-uni0CEE:before { content: "\0cee"; }
.icon-uni0B0C:before { content: "\0b0c"; }
.icon-uni0950:before { content: "\0950"; }
.icon-uni0B22:before { content: "\0b22"; }
.icon-lastresortkhmer:before { content: "\17f9"; }
.icon-uni0A95:before { content: "\0a95"; }
.icon-lastresortlatina:before { content: "\017f"; }
.icon-uni090D:before { content: "\090d"; }
.icon-lastresortthai:before { content: "\0e5b"; }
.icon-lastresortyi:before { content: "\a48c"; }
.icon-uni0948:before { content: "\0948"; }
.icon-lastresortletterlikesymbols:before { content: "\214e"; }
.icon-uni0A94:before { content: "\0a94"; }
.icon-uni0A59:before { content: "\0a59"; }
.icon-uni0925:before { content: "\0925"; }
.icon-uni09F1:before { content: "\09f1"; }
.icon-uni09F6:before { content: "\09f6"; }
.icon-uni0AAF:before { content: "\0aaf"; }
.icon-uni0CCC:before { content: "\0ccc"; }
.icon-uni0969:before { content: "\0969"; }
.icon-uni0C8A:before { content: "\0c8a"; }
.icon-uni0928:before { content: "\0928"; }
.icon-uni0AEE:before { content: "\0aee"; }
.icon-uni09C0:before { content: "\09c0"; }
.icon-lastresortogham:before { content: "\169c"; }
.icon-uni0B1E:before { content: "\0b1e"; }
.icon-uni0A13:before { content: "\0a13"; }
.icon-uni0AEB:before { content: "\0aeb"; }
.icon-uni0C46:before { content: "\0c46"; }
.icon-uni0B3C:before { content: "\0b3c"; }
.icon-uni0B0A:before { content: "\0b0a"; }
.icon-uni09F9:before { content: "\09f9"; }
.icon-uni0C25:before { content: "\0c25"; }
.icon-uni0CC1:before { content: "\0cc1"; }
.icon-uni0CEB:before { content: "\0ceb"; }
.icon-uni0A1E:before { content: "\0a1e"; }
.icon-uni0A81:before { content: "\0a81"; }
.icon-lastresortethiopicextended:before { content: "\2dde"; }
.icon-uni0C89:before { content: "\0c89"; }
.icon-uni090B:before { content: "\090b"; }
.icon-tibetan_16:before { content: "\0fa9"; }
.icon-uni0AC9:before { content: "\0ac9"; }
.icon-uni0C88:before { content: "\0c88"; }
.icon-uni0924:before { content: "\0924"; }
.icon-uni0CB0:before { content: "\0cb0"; }
.icon-uni0B71:before { content: "\0b71"; }
.icon-lastresortarabicpresentationa:before { content: "\fdfd"; }
.icon-uni0C1C:before { content: "\0c1c"; }
.icon-uni0A30:before { content: "\0a30"; }
.icon-uni0CB5:before { content: "\0cb5"; }
.icon-uni0AB2:before { content: "\0ab2"; }
.icon-uni09E6:before { content: "\09e6"; }
.icon-uni0936:before { content: "\0936"; }
.icon-uni0A07:before { content: "\0a07"; }
.icon-uni092E:before { content: "\092e"; }
.icon-uni09C1:before { content: "\09c1"; }
.icon-uni094A:before { content: "\094a"; }
.icon-uni09F4:before { content: "\09f4"; }
.icon-uni0A0A:before { content: "\0a0a"; }
.icon-uni0AC0:before { content: "\0ac0"; }
.icon-uni09CB:before { content: "\09cb"; }
.icon-uni0A28:before { content: "\0a28"; }
.icon-lastresortkatakanaextended:before { content: "\31ff"; }
.icon-uni0C98:before { content: "\0c98"; }
.icon-uni0953:before { content: "\0953"; }
.icon-uni0C43:before { content: "\0c43"; }
.icon-uni0A8A:before { content: "\0a8a"; }
.icon-uni0A71:before { content: "\0a71"; }
.icon-lastresortmodifiertones:before { content: "\a71a"; }
.icon-uni096F:before { content: "\096f"; }
.icon-uni0CE9:before { content: "\0ce9"; }
.icon-uni0C92:before { content: "\0c92"; }
.icon-uni0C0F:before { content: "\0c0f"; }
.icon-uni0B0F:before { content: "\0b0f"; }
.icon-uni0B1B:before { content: "\0b1b"; }
.icon-uni0A02:before { content: "\0a02"; }
.icon-uni099F:before { content: "\099f"; }
.icon-uni0C67:before { content: "\0c67"; }
.icon-uni0AEC:before { content: "\0aec"; }
.icon-lastresorttaixuanjing:before { content: "\1d356"; }
.icon-uni0CCD:before { content: "\0ccd"; }
.icon-lastresortcanadiansyllabics:before { content: "\1676"; }
.icon-uni0C3E:before { content: "\0c3e"; }
.icon-uni0CB9:before { content: "\0cb9"; }
.icon-uni0A01:before { content: "\0a01"; }
.icon-uni0A83:before { content: "\0a83"; }
.icon-lastresortglagolitic:before { content: "\2c5e"; }
.icon-lastresorttagalog:before { content: "\1714"; }
.icon-uni0929:before { content: "\0929"; }
.icon-uni09AF:before { content: "\09af"; }
.icon-uni0A2A:before { content: "\0a2a"; }
.icon-lastresortmusicalsymbols:before { content: "\1d1dd"; }
.icon-uni0CA0:before { content: "\0ca0"; }
.icon-uni0B2F:before { content: "\0b2f"; }
.icon-uni0AAD:before { content: "\0aad"; }
.icon-uni0CAE:before { content: "\0cae"; }
.icon-uni0CEC:before { content: "\0cec"; }
.icon-lastresortgreekmusic:before { content: "\1d245"; }
.icon-uni0B4C:before { content: "\0b4c"; }
.icon-uni09C8:before { content: "\09c8"; }
.icon-uni0C56:before { content: "\0c56"; }
.icon-uni0C93:before { content: "\0c93"; }
.icon-uni0AF1:before { content: "\0af1"; }
.icon-lastresortenclosedcjk:before { content: "\32fe"; }
.icon-uni0945:before { content: "\0945"; }
.icon-uni0C05:before { content: "\0c05"; }
.icon-uni0963:before { content: "\0963"; }
.icon-uni0A67:before { content: "\0a67"; }
.icon-tibetan_7:before { content: "\0fc5"; }
.icon-uni0B19:before { content: "\0b19"; }
.icon-lastresortmyanmar:before { content: "\1059"; }
.icon-uni0B6C:before { content: "\0b6c"; }
.icon-uni0B05:before { content: "\0b05"; }
.icon-uni09A1:before { content: "\09a1"; }
.icon-uni09AC:before { content: "\09ac"; }
.icon-uni0AAC:before { content: "\0aac"; }
.icon-uni0C18:before { content: "\0c18"; }
.icon-uni0C9F:before { content: "\0c9f"; }
.icon-uni095E:before { content: "\095e"; }
.icon-lastresortbalinese:before { content: "\1b7c"; }
.icon-uni0AEA:before { content: "\0aea"; }
.icon-uni0B06:before { content: "\0b06"; }
.icon-uni0A4D:before { content: "\0a4d"; }
.icon-uni09F7:before { content: "\09f7"; }
.icon-uni099E:before { content: "\099e"; }
.icon-tibetan_15:before { content: "\0fa8"; }
.icon-uni0CD5:before { content: "\0cd5"; }
.icon-uni09E7:before { content: "\09e7"; }
.icon-uni0B26:before { content: "\0b26"; }
.icon-uni0C83:before { content: "\0c83"; }
.icon-uni0A4C:before { content: "\0a4c"; }
.icon-tibetan_20:before { content: "\0fad"; }
.icon-tibetan_9:before { content: "\0fc7"; }
.icon-uni0949:before { content: "\0949"; }
.icon-uni0AE8:before { content: "\0ae8"; }
.icon-uni0C2C:before { content: "\0c2c"; }
.icon-uni0947:before { content: "\0947"; }
.icon-lastresortmiscmathsymbolsa:before { content: "\27eb"; }
.icon-uni09C4:before { content: "\09c4"; }
.icon-uni0B42:before { content: "\0b42"; }
.icon-uni0C8F:before { content: "\0c8f"; }
.icon-uni0B56:before { content: "\0b56"; }
.icon-uni09D7:before { content: "\09d7"; }
.icon-uni0905:before { content: "\0905"; }
.icon-uni0A9B:before { content: "\0a9b"; }
.icon-lastresortcjkstrokes:before { content: "\31cf"; }
.icon-uni0985:before { content: "\0985"; }
.icon-uni0B38:before { content: "\0b38"; }
.icon-uni093D:before { content: "\093d"; }
.icon-uni0C44:before { content: "\0c44"; }
.icon-uni0964:before { content: "\0964"; }
.icon-uni0940:before { content: "\0940"; }
.icon-uni093C:before { content: "\093c"; }
.icon-uni0AB9:before { content: "\0ab9"; }
.icon-uni0C61:before { content: "\0c61"; }
.icon-lastresortsinhala:before { content: "\0df4"; }
.icon-uni0A85:before { content: "\0a85"; }
.icon-uni0B3D:before { content: "\0b3d"; }
.icon-uni0ABE:before { content: "\0abe"; }
.icon-uni0993:before { content: "\0993"; }
.icon-tibetan_19:before { content: "\0fac"; }
.icon-uni0927:before { content: "\0927"; }
.icon-uni0AB8:before { content: "\0ab8"; }
.icon-uni0968:before { content: "\0968"; }
.icon-uni0A32:before { content: "\0a32"; }
.icon-lastresortlimbu:before { content: "\194f"; }
.icon-lastresortgeneralpunctuation:before { content: "\206f"; }
.icon-uni0C13:before { content: "\0c13"; }
.icon-uni0C4A:before { content: "\0c4a"; }
.icon-uni0A16:before { content: "\0a16"; }
.icon-uni0A06:before { content: "\0a06"; }
.icon-uni09DD:before { content: "\09dd"; }
.icon-uni09AB:before { content: "\09ab"; }
.icon-uni0A23:before { content: "\0a23"; }
.icon-lastresortcountingrods:before { content: "\1d371"; }
.icon-lastresortcjkradicalssup:before { content: "\2ef3"; }
.icon-uni0B21:before { content: "\0b21"; }
.icon-uni0A2B:before { content: "\0a2b"; }
.icon-uni0C10:before { content: "\0c10"; }
.icon-uni0A47:before { content: "\0a47"; }
.icon-uni0CA7:before { content: "\0ca7"; }
.icon-uni0A86:before { content: "\0a86"; }
.icon-uni0986:before { content: "\0986"; }
.icon-uni0CC8:before { content: "\0cc8"; }
.icon-uni0C22:before { content: "\0c22"; }
.icon-uni0C2F:before { content: "\0c2f"; }
.icon-uni0C32:before { content: "\0c32"; }
.icon-uni0A1B:before { content: "\0a1b"; }
.icon-uni0A39:before { content: "\0a39"; }
.icon-tibetan_2:before { content: "\0fd1"; }
.icon-uni0AC2:before { content: "\0ac2"; }
.icon-uni0983:before { content: "\0983"; }
.icon-uni0934:before { content: "\0934"; }
.icon-uni0B66:before { content: "\0b66"; }
.icon-uni097E:before { content: "\097e"; }
.icon-uni0997:before { content: "\0997"; }
.icon-uni0C66:before { content: "\0c66"; }
.icon-uni0CB6:before { content: "\0cb6"; }
.icon-uni0A74:before { content: "\0a74"; }
.icon-uni0C87:before { content: "\0c87"; }
.icon-uni0937:before { content: "\0937"; }
.icon-uni0A8B:before { content: "\0a8b"; }
.icon-uni0982:before { content: "\0982"; }
.icon-uni0C23:before { content: "\0c23"; }
.icon-lastresortgeorgian:before { content: "\10fc"; }
.icon-uni0C2D:before { content: "\0c2d"; }
.icon-uni09F3:before { content: "\09f3"; }
.icon-uni0C47:before { content: "\0c47"; }
.icon-uni0A89:before { content: "\0a89"; }
.icon-uni0C9E:before { content: "\0c9e"; }
.icon-uni0C07:before { content: "\0c07"; }
.icon-lastresorthebrew:before { content: "\05f4"; }
.icon-uni0962:before { content: "\0962"; }
.icon-uni0CAB:before { content: "\0cab"; }
.icon-uni0B23:before { content: "\0b23"; }
.icon-lastresorttaile:before { content: "\1974"; }
.icon-uni0AB3:before { content: "\0ab3"; }
.icon-uni09E8:before { content: "\09e8"; }
.icon-uni0961:before { content: "\0961"; }
.icon-uni0AAA:before { content: "\0aaa"; }
.icon-uni0B41:before { content: "\0b41"; }
.icon-uni094C:before { content: "\094c"; }
.icon-uni0AAE:before { content: "\0aae"; }
.icon-lastresortblockelements:before { content: "\259f"; }
.icon-uni09B2:before { content: "\09b2"; }
.icon-lastresortnewtailue:before { content: "\19df"; }
.icon-lastresorthalffullwidthforms:before { content: "\ffee"; }
.icon-uni0CE6:before { content: "\0ce6"; }
.icon-uni09EB:before { content: "\09eb"; }
.icon-uni0915:before { content: "\0915"; }
.icon-lastresortcjksymbolspunct:before { content: "\303f"; }
.icon-uni0C6F:before { content: "\0c6f"; }
.icon-uni0A9F:before { content: "\0a9f"; }
.icon-uni0994:before { content: "\0994"; }
.icon-uni0CA1:before { content: "\0ca1"; }
.icon-uni09B6:before { content: "\09b6"; }
.icon-tibetan_1:before { content: "\0fd0"; }
.icon-uni0A42:before { content: "\0a42"; }
.icon-uni0ABD:before { content: "\0abd"; }
.icon-uni09E9:before { content: "\09e9"; }
.icon-uni0A66:before { content: "\0a66"; }
.icon-uni0CA3:before { content: "\0ca3"; }
.icon-uni0C01:before { content: "\0c01"; }
.icon-lastresortcjkideocompatsup:before { content: "\2fa1d"; }
.icon-lastresortcoptic:before { content: "\2cff"; }
.icon-tibetan_23:before { content: "\0fb0"; }
.icon-lastresortdeseret:before { content: "\1044f"; }
.icon-uni09E0:before { content: "\09e0"; }
.icon-uni0B60:before { content: "\0b60"; }
.icon-lastresortnko:before { content: "\07fa"; }
.icon-uni0930:before { content: "\0930"; }
.icon-uni0935:before { content: "\0935"; }
.icon-uni0995:before { content: "\0995"; }
.icon-uni0A19:before { content: "\0a19"; }
.icon-lastresortkatakana:before { content: "\30ff"; }
.icon-lastresortlatinb:before { content: "\024f"; }
.icon-uni09A6:before { content: "\09a6"; }
.icon-tibetan_30:before { content: "\0fb7"; }
.icon-uni0C16:before { content: "\0c16"; }
.icon-uni0910:before { content: "\0910"; }
.icon-uni0946:before { content: "\0946"; }
.icon-uni0B6B:before { content: "\0b6b"; }
.icon-uni0A2E:before { content: "\0a2e"; }
.icon-uni092A:before { content: "\092a"; }
.icon-uni099B:before { content: "\099b"; }
.icon-uni0A93:before { content: "\0a93"; }
.icon-uni0C35:before { content: "\0c35"; }
.icon-uni09EC:before { content: "\09ec"; }
.icon-lastresortmiscsymbols:before { content: "\26b2"; }
.icon-lastresortphoneticextsup:before { content: "\1dbf"; }
.icon-lastresortlatinc:before { content: "\2c77"; }
.icon-uni09F8:before { content: "\09f8"; }
.icon-uni0CE3:before { content: "\0ce3"; }
.icon-uni0AC4:before { content: "\0ac4"; }
.icon-lastresortgeorgiansup:before { content: "\2d25"; }
.icon-uni0CC7:before { content: "\0cc7"; }
.icon-lastresortarrowssupplementa:before { content: "\27ff"; }
.icon-uni0C4C:before { content: "\0c4c"; }
.icon-uni090A:before { content: "\090a"; }
.icon-uni0CBC:before { content: "\0cbc"; }
.icon-uni0942:before { content: "\0942"; }
.icon-uni0996:before { content: "\0996"; }
.icon-uni0AC7:before { content: "\0ac7"; }
.icon-uni0A8F:before { content: "\0a8f"; }
.icon-uni0AAB:before { content: "\0aab"; }
.icon-lastresorttagbanwa:before { content: "\1773"; }
.icon-uni0CA6:before { content: "\0ca6"; }
.icon-uni0A26:before { content: "\0a26"; }
.icon-lastresortcyrillic:before { content: "\04ff"; }
.icon-uni092B:before { content: "\092b"; }
.icon-uni09B9:before { content: "\09b9"; }
.icon-uni0AE9:before { content: "\0ae9"; }
.icon-uni0AB5:before { content: "\0ab5"; }
.icon-uni093E:before { content: "\093e"; }
.icon-uni0A9A:before { content: "\0a9a"; }
.icon-lastresortsupersubscripts:before { content: "\2094"; }
.icon-uni0C90:before { content: "\0c90"; }
.icon-uni0C99:before { content: "\0c99"; }
.icon-uni0A97:before { content: "\0a97"; }
.icon-uni0A1C:before { content: "\0a1c"; }
.icon-lastresortosmanya:before { content: "\104a9"; }
.icon-uni0CBF:before { content: "\0cbf"; }
.icon-uni0C8B:before { content: "\0c8b"; }
.icon-uni0917:before { content: "\0917"; }
.icon-uni0A8D:before { content: "\0a8d"; }
.icon-uni0A6E:before { content: "\0a6e"; }
.icon-uni0A3C:before { content: "\0a3c"; }
.icon-uni0B20:before { content: "\0b20"; }
.icon-uni0CE2:before { content: "\0ce2"; }
.icon-uni0C1B:before { content: "\0c1b"; }
.icon-uni0965:before { content: "\0965"; }
.icon-uni0967:before { content: "\0967"; }
.icon-lastresortlatin1:before { content: "\00ff"; }
.icon-uni0990:before { content: "\0990"; }
.icon-uni0A33:before { content: "\0a33"; }
.icon-uni0AA2:before { content: "\0aa2"; }
.icon-uni0B48:before { content: "\0b48"; }
.icon-uni096E:before { content: "\096e"; }
.icon-uni0CF2:before { content: "\0cf2"; }
.icon-uni0C95:before { content: "\0c95"; }
.icon-uni0A88:before { content: "\0a88"; }
.icon-uni0906:before { content: "\0906"; }
.icon-uni0CB2:before { content: "\0cb2"; }
.icon-uni0CB8:before { content: "\0cb8"; }
.icon-uni0C3F:before { content: "\0c3f"; }
.icon-uni0A91:before { content: "\0a91"; }
.icon-uni091F:before { content: "\091f"; }
.icon-uni09BD:before { content: "\09bd"; }
.icon-uni0A48:before { content: "\0a48"; }
.icon-uni09A5:before { content: "\09a5"; }
.icon-uni0988:before { content: "\0988"; }
.icon-uni0B32:before { content: "\0b32"; }
.icon-uni0A5B:before { content: "\0a5b"; }
.icon-tibetan_11:before { content: "\0fc9"; }
.icon-uni0B10:before { content: "\0b10"; }
.icon-uni0A25:before { content: "\0a25"; }
.icon-uni0A68:before { content: "\0a68"; }
.icon-uni0B08:before { content: "\0b08"; }
.icon-uni0CC2:before { content: "\0cc2"; }
.icon-lastresortthaana:before { content: "\07b1"; }
.icon-uni09B0:before { content: "\09b0"; }
.icon-uni0B27:before { content: "\0b27"; }
.icon-uni0AD0:before { content: "\0ad0"; }
.icon-uni0A9E:before { content: "\0a9e"; }
.icon-lastresortipaextensions:before { content: "\02af"; }
.icon-uni09A7:before { content: "\09a7"; }
.icon-uni0C48:before { content: "\0c48"; }
.icon-uni0918:before { content: "\0918"; }
.icon-uni0AA1:before { content: "\0aa1"; }
.icon-uni0B02:before { content: "\0b02"; }
.icon-uni094D:before { content: "\094d"; }
.icon-tibetan_14:before { content: "\0fcc"; }
.icon-uni0A6F:before { content: "\0a6f"; }
.icon-uni0A69:before { content: "\0a69"; }
.icon-lastresortcontrolpictures:before { content: "\2426"; }
.icon-uni0C33:before { content: "\0c33"; }
.icon-lastresortcypriot:before { content: "\1083f"; }
.icon-tibetan_5:before { content: "\0fc3"; }
.icon-uni0987:before { content: "\0987"; }
.icon-lastresortcjkcompatibilityform:before { content: "\fe4f"; }
.icon-uni091B:before { content: "\091b"; }
.icon-uni0C0B:before { content: "\0c0b"; }
.icon-lastresortbopomofoextended:before { content: "\31b7"; }
.icon-uni0B43:before { content: "\0b43"; }
.icon-lastresortgothic:before { content: "\1034a"; }
.icon-uni0B13:before { content: "\0b13"; }
.icon-uni098A:before { content: "\098a"; }
.icon-uni097F:before { content: "\097f"; }
.icon-lastresortarmenian:before { content: "\058a"; }
.icon-uni0A24:before { content: "\0a24"; }
.icon-uni0926:before { content: "\0926"; }
.icon-lastresorttamil:before { content: "\0bfa"; }
.icon-uni090E:before { content: "\090e"; }
.icon-uni09F5:before { content: "\09f5"; }
.icon-uni0B36:before { content: "\0b36"; }
.icon-uni09BF:before { content: "\09bf"; }
.icon-tibetan_17:before { content: "\0faa"; }
.icon-uni0B6A:before { content: "\0b6a"; }
.icon-lastresortboxdrawing:before { content: "\257f"; }
.icon-uni0CEF:before { content: "\0cef"; }
.icon-uni095A:before { content: "\095a"; }
.icon-lastresortphoenician:before { content: "\1091f"; }
.icon-lastresortlatind:before { content: "\a721"; }
.icon-uni09A4:before { content: "\09a4"; }
.icon-lastresortarabicsup:before { content: "\076d"; }
.icon-uni0941:before { content: "\0941"; }
.icon-lastresortcombiningdiacritics:before { content: "\036f"; }
.icon-uni0A90:before { content: "\0a90"; }
.icon-uni0A8C:before { content: "\0a8c"; }
.icon-lastresorttags:before { content: "\e007f"; }
.icon-uni0923:before { content: "\0923"; }
.icon-uni0CEA:before { content: "\0cea"; }
.icon-lastresortaegeannumbers:before { content: "\1013f"; }
.icon-uni0C9D:before { content: "\0c9d"; }
.icon-uni0C41:before { content: "\0c41"; }
.icon-uni0C30:before { content: "\0c30"; }
.icon-uni0C42:before { content: "\0c42"; }
.icon-uni0C36:before { content: "\0c36"; }
.icon-uni0901:before { content: "\0901"; }
.icon-lastresortcjkideograph:before { content: "\9fbb"; }
.icon-uni0C85:before { content: "\0c85"; }
.icon-uni0B61:before { content: "\0b61"; }
.icon-uni0C55:before { content: "\0c55"; }
.icon-lastresortmathoperatorssup:before { content: "\2aff"; }
.icon-lastresortlinearbsyllabary:before { content: "\1005d"; }
.icon-lastresortsyriac:before { content: "\074f"; }
.icon-uni0A08:before { content: "\0a08"; }
.icon-uni0C4B:before { content: "\0c4b"; }
.icon-lastresorthanguljamo:before { content: "\11f9"; }
.icon-lastresortmiscsymbolsarrows:before { content: "\2b23"; }
.icon-lastresortgeometricshapes:before { content: "\25ff"; }
.icon-lastresortcherokee:before { content: "\13f4"; }
.icon-lastresortbraillesymbols:before { content: "\28ff"; }
.icon-lastresortmisctechnical:before { content: "\23e7"; }
.icon-uni095D:before { content: "\095d"; }
.icon-uni0B40:before { content: "\0b40"; }
.icon-uni0933:before { content: "\0933"; }
.icon-lastresortmiscmathsymbolsb:before { content: "\29ff"; }
.icon-lastresortcjkideographextendb:before { content: "\2a6d6"; }
.icon-uni099C:before { content: "\099c"; }
.icon-uni0C31:before { content: "\0c31"; }
.icon-uni0B01:before { content: "\0b01"; }
.icon-uni0ABF:before { content: "\0abf"; }
.icon-lastresortcuneiform:before { content: "\1236e"; }
.icon-uni0CE8:before { content: "\0ce8"; }
.icon-lastresortvariationselectorsa:before { content: "\e01ef"; }
.icon-uni09A2:before { content: "\09a2"; }
.icon-uni0A40:before { content: "\0a40"; }
.icon-uni0AE0:before { content: "\0ae0"; }
.icon-uni09ED:before { content: "\09ed"; }
.icon-uni099D:before { content: "\099d"; }
.icon-uni0A17:before { content: "\0a17"; }
.icon-tibetan_27:before { content: "\0fb4"; }
.icon-uni0B25:before { content: "\0b25"; }
.icon-uni0A22:before { content: "\0a22"; }
.icon-uni0C09:before { content: "\0c09"; }
.icon-uni0A70:before { content: "\0a70"; }
.icon-lastresortcjkideographcompat:before { content: "\fad9"; }
.icon-uni0916:before { content: "\0916"; }
.icon-uni0CB3:before { content: "\0cb3"; }
.icon-uni0B30:before { content: "\0b30"; }
.icon-uni0B6E:before { content: "\0b6e"; }
.icon-uni0CA8:before { content: "\0ca8"; }
.icon-uni0AC8:before { content: "\0ac8"; }
.icon-uni0B2A:before { content: "\0b2a"; }
.icon-uni0914:before { content: "\0914"; }
.icon-lastresortmalayalam:before { content: "\0d6f"; }
.icon-uni0AB6:before { content: "\0ab6"; }
.icon-uni0C26:before { content: "\0c26"; }
.icon-uni0CBE:before { content: "\0cbe"; }
.icon-lastresortethiopicsup:before { content: "\1399"; }
.icon-uni0A2C:before { content: "\0a2c"; }
.icon-uni09FA:before { content: "\09fa"; }
.icon-lastresortkhmersymbols:before { content: "\19ff"; }
.icon-uni098F:before { content: "\098f"; }
.icon-uni0A38:before { content: "\0a38"; }
.icon-uni0B4B:before { content: "\0b4b"; }
.icon-uni0908:before { content: "\0908"; }
.icon-uni09F0:before { content: "\09f0"; }
.icon-uni097B:before { content: "\097b"; }
.icon-uni0909:before { content: "\0909"; }
.icon-uni092D:before { content: "\092d"; }
.icon-tibetan_22:before { content: "\0faf"; }
.icon-lastresortethiopic:before { content: "\137c"; }
.icon-uni0C82:before { content: "\0c82"; }
.icon-uni0B18:before { content: "\0b18"; }
.icon-uni0911:before { content: "\0911"; }
.icon-uni0A27:before { content: "\0a27"; }
.icon-uni0B3E:before { content: "\0b3e"; }
.icon-uni0A2D:before { content: "\0a2d"; }
.icon-uni0CC6:before { content: "\0cc6"; }
.icon-uni0C02:before { content: "\0c02"; }
.icon-uni09DC:before { content: "\09dc"; }
.icon-uni0B07:before { content: "\0b07"; }
.icon-uni097C:before { content: "\097c"; }
.icon-lastresortmathoperators:before { content: "\22ff"; }
.icon-uni09B8:before { content: "\09b8"; }
.icon-tibetan_18:before { content: "\0fab"; }
.icon-lastresortnotdefplanetwo:before { content: "\2fffd"; }
.icon-uni0CA2:before { content: "\0ca2"; }
.icon-uni0B3F:before { content: "\0b3f"; }
.icon-uni0C27:before { content: "\0c27"; }
.icon-lastresortcombiningsymbols:before { content: "\20ef"; }
.icon-uni0CF1:before { content: "\0cf1"; }
.icon-uni095C:before { content: "\095c"; }
.icon-lastresortyiradicals:before { content: "\a4c6"; }
.icon-uni0944:before { content: "\0944"; }
.icon-uni0A5C:before { content: "\0a5c"; }
.icon-uni0A5A:before { content: "\0a5a"; }
.icon-uni0B2C:before { content: "\0b2c"; }
.icon-uni0CE1:before { content: "\0ce1"; }
.icon-uni0B69:before { content: "\0b69"; }
.icon-uni0B1C:before { content: "\0b1c"; }
.icon-uni0CE7:before { content: "\0ce7"; }
.icon-uni09E2:before { content: "\09e2"; }
.icon-uni0AA5:before { content: "\0aa5"; }
.icon-uni0C2E:before { content: "\0c2e"; }
.icon-uni0B1A:before { content: "\0b1a"; }
.icon-uni0CAD:before { content: "\0cad"; }
.icon-lastresortarrows:before { content: "\21ff"; }
.icon-uni0C1F:before { content: "\0c1f"; }
.icon-uni097D:before { content: "\097d"; }
.icon-lastresortlatinextended:before { content: "\1ef9"; }
.icon-uni096B:before { content: "\096b"; }
.icon-uni0B0B:before { content: "\0b0b"; }
.icon-uni09C2:before { content: "\09c2"; }
.icon-uni0A99:before { content: "\0a99"; }
.icon-uni0913:before { content: "\0913"; }
.icon-uni0CCB:before { content: "\0ccb"; }
.icon-uni096A:before { content: "\096a"; }
.icon-lastresortugaritic:before { content: "\1039f"; }
.icon-uni0B6D:before { content: "\0b6d"; }
.icon-uni0C1A:before { content: "\0c1a"; }
.icon-lastresortcombdiacriticssup:before { content: "\1dff"; }
.icon-uni0907:before { content: "\0907"; }
.icon-uni09BE:before { content: "\09be"; }
.icon-lastresortverticalforms:before { content: "\fe19"; }
.icon-tibetan_4:before { content: "\0fc2"; }
.icon-uni0CDE:before { content: "\0cde"; }
.icon-uni0C97:before { content: "\0c97"; }
.icon-uni0A6D:before { content: "\0a6d"; }
.icon-uni0943:before { content: "\0943"; }
.icon-uni0A87:before { content: "\0a87"; }
.icon-uni0C06:before { content: "\0c06"; }
.icon-uni0A6C:before { content: "\0a6c"; }
.icon-uni09CD:before { content: "\09cd"; }
.icon-uni0A18:before { content: "\0a18"; }
.icon-uni0A6B:before { content: "\0a6b"; }
.icon-uni0A9D:before { content: "\0a9d"; }
.icon-uni0A96:before { content: "\0a96"; }
.icon-lastresortkanbun:before { content: "\319f"; }
.icon-uni0A0F:before { content: "\0a0f"; }
.icon-uni0C69:before { content: "\0c69"; }
.icon-uni0B1F:before { content: "\0b1f"; }
.icon-uni096C:before { content: "\096c"; }
.icon-uni0CD6:before { content: "\0cd6"; }
.icon-uni09C3:before { content: "\09c3"; }
.icon-uni096D:before { content: "\096d"; }
.icon-uni0C17:before { content: "\0c17"; }
.icon-uni0AB0:before { content: "\0ab0"; }
.icon-uni0A41:before { content: "\0a41"; }
.icon-lastresortlinearbideograms:before { content: "\100fa"; }
.icon-uni092F:before { content: "\092f"; }
.icon-uni09B7:before { content: "\09b7"; }
.icon-uni0C08:before { content: "\0c08"; }
.icon-uni0A05:before { content: "\0a05"; }
.icon-uni0C1E:before { content: "\0c1e"; }
.icon-lastresortenclosedalphanum:before { content: "\24ff"; }
.icon-lastresortyijinghexagram:before { content: "\4dff"; }
.icon-uni09EE:before { content: "\09ee"; }
.icon-uni0AB7:before { content: "\0ab7"; }
.icon-lastresortphoneticext:before { content: "\1d7f"; }
.icon-uni093F:before { content: "\093f"; }
.icon-lastresortcjkideographexta:before { content: "\4db5"; }
.icon-tibetan_6:before { content: "\0fc4"; }
.icon-uni0C14:before { content: "\0c14"; }
.icon-uni0C94:before { content: "\0c94"; }
.icon-uni0CAC:before { content: "\0cac"; }
.icon-lastresortarabicpresentationb:before { content: "\feff"; }
.icon-uni0C96:before { content: "\0c96"; }
.icon-uni0C38:before { content: "\0c38"; }
.icon-uni0A15:before { content: "\0a15"; }
.icon-lastresortopticalrecognition:before { content: "\244a"; }
.icon-uni091C:before { content: "\091c"; }
.icon-uni0A6A:before { content: "\0a6a"; }
.icon-uni0A3F:before { content: "\0a3f"; }
.icon-lastresortbopomofo:before { content: "\312c"; }
.icon-uni0C24:before { content: "\0c24"; }
.icon-uni0998:before { content: "\0998"; }
.icon-uni0B5D:before { content: "\0b5d"; }
.icon-uni0B16:before { content: "\0b16"; }
.icon-uni0C28:before { content: "\0c28"; }
.icon-uni0C68:before { content: "\0c68"; }
.icon-uni0B2B:before { content: "\0b2b"; }
.icon-lastresortarabic:before { content: "\06ff"; }
.icon-uni0AE7:before { content: "\0ae7"; }
.icon-tibetan_29:before { content: "\0fb6"; }
.icon-uni0A3E:before { content: "\0a3e"; }
.icon-uni0951:before { content: "\0951"; }
.icon-uni0C40:before { content: "\0c40"; }
.icon-lastresortalphamathsymbols:before { content: "\1d7ff"; }
.icon-uni0AE6:before { content: "\0ae6"; }
.icon-uni0A9C:before { content: "\0a9c"; }
.icon-uni0902:before { content: "\0902"; }
.icon-uni0C20:before { content: "\0c20"; }
.icon-uni0A35:before { content: "\0a35"; }
.icon-uni0AC5:before { content: "\0ac5"; }
.icon-tibetan_28:before { content: "\0fb5"; }
.icon-uni0A09:before { content: "\0a09"; }
.icon-uni0CA5:before { content: "\0ca5"; }
.icon-uni09EA:before { content: "\09ea"; }
.icon-uni0C6D:before { content: "\0c6d"; }
.icon-uni095F:before { content: "\095f"; }
.icon-uni0C12:before { content: "\0c12"; }
.icon-uni0B28:before { content: "\0b28"; }
.icon-tibetan_0:before { content: "\0fcf"; }
.icon-uni0ABC:before { content: "\0abc"; }
.icon-uni0CED:before { content: "\0ced"; }
.icon-lastresortcyrillicsupplement:before { content: "\0513"; }
.icon-lastresortprivateplane15:before { content: "\ffffd"; }
.icon-uni0AE1:before { content: "\0ae1"; }
.icon-uni0C15:before { content: "\0c15"; }
.icon-uni0AE3:before { content: "\0ae3"; }
.icon-uni0C8C:before { content: "\0c8c"; }
.icon-uni0A03:before { content: "\0a03"; }
.icon-lastresortspacingmodifiers:before { content: "\02ff"; }
.icon-uni0A72:before { content: "\0a72"; }
.icon-uni0CAA:before { content: "\0caa"; }
.icon-uni0999:before { content: "\0999"; }
.icon-uni0A2F:before { content: "\0a2f"; }
.icon-uni0A36:before { content: "\0a36"; }
.icon-lastresortkharoshthi:before { content: "\10a58"; }
.icon-uni09A0:before { content: "\09a0"; }
.icon-uni0C1D:before { content: "\0c1d"; }
.icon-lastresortbyzantinemusic:before { content: "\1d0f5"; }
.icon-uni0A10:before { content: "\0a10"; }
.icon-uni0B03:before { content: "\0b03"; }
.icon-uni09F2:before { content: "\09f2"; }
.icon-uni0AA6:before { content: "\0aa6"; }
.icon-uni091E:before { content: "\091e"; }
.icon-uni0C0E:before { content: "\0c0e"; }
.icon-uni0AC3:before { content: "\0ac3"; }
.icon-uni0CB1:before { content: "\0cb1"; }
.icon-lastresortvariationselectors:before { content: "\fe0f"; }
.icon-uni0939:before { content: "\0939"; }
.icon-tibetan_24:before { content: "\0fb1"; }
.icon-lastresortkangxiradicals:before { content: "\2fd5"; }
.icon-uni099A:before { content: "\099a"; }
.icon-lastresortbuginese:before { content: "\1a1f"; }
.icon-uni09EF:before { content: "\09ef"; }
.icon-uni0C86:before { content: "\0c86"; }
.icon-uni0989:before { content: "\0989"; }
.icon-uni0C4D:before { content: "\0c4d"; }
.icon-uni0958:before { content: "\0958"; }
.icon-uni091D:before { content: "\091d"; }
.icon-tibetan_21:before { content: "\0fae"; }
.icon-uni0B2D:before { content: "\0b2d"; }
.icon-lastresorthanunoo:before { content: "\1736"; }
.icon-uni0C0C:before { content: "\0c0c"; }
.icon-uni0B4D:before { content: "\0b4d"; }
.icon-uni09BC:before { content: "\09bc"; }
.icon-lastresorttifinagh:before { content: "\2d6f"; }
.icon-uni0CBD:before { content: "\0cbd"; }
.icon-lastresortlao:before { content: "\0edd"; }
.icon-uni0B37:before { content: "\0b37"; }
.icon-uni0981:before { content: "\0981"; }
.icon-uni0904:before { content: "\0904"; }
.icon-uni0954:before { content: "\0954"; }
.icon-lastresortprivateplane16:before { content: "\10fffd"; }
.icon-uni0C39:before { content: "\0c39"; }
.icon-uni090C:before { content: "\090c"; }
.icon-uni09DF:before { content: "\09df"; }
.icon-lastresortmongolian:before { content: "\18a9"; }
.icon-lastresortalphapresentation:before { content: "\fb4f"; }
.icon-uni0CA4:before { content: "\0ca4"; }
.icon-uni0B5F:before { content: "\0b5f"; }
.icon-uni0B47:before { content: "\0b47"; }
.icon-uni09E3:before { content: "\09e3"; }
.icon-uni0912:before { content: "\0912"; }
.icon-uni0A20:before { content: "\0a20"; }
.icon-uni0C6B:before { content: "\0c6b"; }
.icon-tibetan_8:before { content: "\0fc6"; }
.icon-tibetan_13:before { content: "\0fcb"; }
.icon-uni09AE:before { content: "\09ae"; }
.icon-uni0B15:before { content: "\0b15"; }
.icon-uni0ACB:before { content: "\0acb"; }
.icon-uni0B17:before { content: "\0b17"; }
.icon-uni09CC:before { content: "\09cc"; }
.icon-lastresortideographicdescript:before { content: "\2ffb"; }
.icon-uni0A1D:before { content: "\0a1d"; }
.icon-uni0B6F:before { content: "\0b6f"; }
.icon-uni0C6A:before { content: "\0c6a"; }
.icon-uni0AEF:before { content: "\0aef"; }
.icon-lastresortgreeknumbers:before { content: "\1018a"; }
.icon-uni0ACC:before { content: "\0acc"; }
.icon-lastresortnotdefplanefourteen:before { content: "\efffd"; }
.icon-uni0CB7:before { content: "\0cb7"; }
.icon-uni0AA3:before { content: "\0aa3"; }
.icon-tibetan_25:before { content: "\0fb2"; }
.icon-uni0CC4:before { content: "\0cc4"; }
.icon-uni0C9B:before { content: "\0c9b"; }
.icon-uni0AE2:before { content: "\0ae2"; }
.icon-uni0C2A:before { content: "\0c2a"; }
